/*ORHAN*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main aside"
    "footer footer footer footer";
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: header;
  padding: 1px 10;
  background-image: url(../assets/images/navbar.jpg);
  background-position: top;
}

.nav_links li a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}


footer li a {
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  text-decoration: none;
}
footer li a:hover {
  font-weight: bold;
}
footer li {
  display: inline-block;
  margin: 10px;
}
.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: orange;
  font-size: 20px;
}

.nav_links li a img:hover {
  opacity: 0.7;
  transform: scale(0.975);
}

/*YOUNES MAIN BEGIN*/

.pokemonNumber {
  font-size: 1rem;
  font-weight: 999;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: blue;
}

#Titel-evo {
  font-weight: 999;
}

#projecten {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.projecten-item {
  width: 416px;
  padding: 0 20px 20px 0;
}
/* pokemon battle tiles */
select {
  padding: 6px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background-color: rgb(241, 176, 34);
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

select option {
  padding: 10px;
}

/* Stijl voor de focus (wanneer de dropdown is geselecteerd) */
select:focus {
  outline: none; /* Verwijder de standaard focusstijl */
  border-color: rgb(
    241,
    176,
    34
  ); /* Verander de randkleur wanneer de dropdown is geselecteerd */
}
.pokemon-item {
  width: 416px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.pokemon-item img {
  margin-top: 15px;
}
.pokemon-item img:hover {
  transform: scale(0.975);
}
#battlepage {
  display: flex;
  justify-content: center;
  align-items: center;
}
#pokemon1 {
  display: flex;
  flex-direction: row-reverse;
}
#pokemon2 {
  display: flex;
  flex-direction: row;
}

#naampokemonstats {
  font-weight: 999;
}
.pokemon-naam {
  color: black;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}
.battle-stats {
  margin: 20px;
  font-weight: bold;
  text-align: center;
}

.stats {
  color: black;
  font-size: 18px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: solid 2px black;
  border-radius: 20px;
}
.attack-button {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  margin-top: 10px;
  background-color: red;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-right: 15px;
  border-radius: 10px;
}

.defend-button {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  margin-top: 10px;
  background-color: rgb(45, 151, 187);
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.attack-button:hover {
  background-color: black;
}
.defend-button:hover {
  background-color: black;
}

.battle-button {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  background-color: orange;
  padding: 20px;
  border: 2px solid black;
  border-radius: 100px;
}
.battle-button:hover {
  background-color: red;
}

/* pokemon battle tiles */
.projecten-item img {
  width: 100%;
  height: auto;
  transition: 0.3s opacity, transform 0.3s;
}
.projecten-item img:hover {
  opacity: 0.7;
  transform: scale(0.975);
}
#pokemon-versus {
  width: 100px;
  margin: 40px;
}
.image-container {
  position: relative;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

.image-container:hover .image-overlay {
  opacity: 1;
  pointer-events: auto;
}

.image-overlay p {
  color: white;
  text-align: center;
  font-size: 20px;
  padding-top: 85px;
  font-weight: bold;
  text-transform: uppercase;
}

.pokemon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

.pokemon-overlay p {
  color: white;
  text-align: center;
  font-size: 20px;
  padding-top: 180px;
  font-weight: bold;
  text-transform: uppercase;
}

.image-container:hover .pokemon-overlay {
  opacity: 1;
  pointer-events: auto;
}

.mijnpokemon {
  text-align: center;
  margin-left: 500px;
}
/*YOUNES MAIN EINDE*/

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-image: url(../assets/images/navbar.jpg);
  background-position: top;
}

/*Pagina vergelijken Rayan*/
#compare-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.compare-pokemon {
  width: 50%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compare-pokemon img {
  width: 50%;
  margin: 0 10px;
  padding: 10px;
}

.pok {
  max-width: 100%;
  height: auto;
}
/* Button random pokemon*/
.myBttn {
  border: 2px solid #4caf50;
  border-radius: 5px;
  color: #fff;
  background-color: #4caf50;
  cursor: pointer;
  margin: 2rem;
  padding: 5px;
}
.myBttn:hover {
  background-color: blue;
  border-color: #45a049;
}

.myBttn:focus {
  outline: none;
}

.myBttn:active {
  background-color: #3e8e41;
  border-color: #3e8e41;
}

.statsmenu {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

#compare-versus {
  width: 100px;
  margin: 0 10px;
}

label {
  padding-right: 10px;
  font-size: 1rem;
}

.progress {
  margin: 20px;
}
#pokedexList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  gap: 20px;
}

#pokedexList li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#pokedexList li img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

/* Whos that pokemon Rayan*/

#guessForm {
  text-align: center;
  margin-top: 20px;
}

#guessForm label {
  display: block;
  margin-bottom: 10px;
}

#guessForm input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: solid 2px #3e8e41;
}

#who-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#who-page article {
  display: flex;
  justify-content: center;

  text-align: center;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  max-width: 450px;
  flex-direction: column;
  margin-left: 250px;
}

#who-page article h1 {
  margin-bottom: 25px;
}

#blurry {
  filter: blur(10px);
}

/* login page */
.background-wrapper {
  background-image: url("../assets/images/navbar.jpg");
  background-size: cover;
  background-position: center;
  width: 98.9vw;
  height: 100vh; /* Full height of viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
}

/* Pokemon detail Rayan*/
#pokemonDetail {
  display: flex;
  gap: 50px;
  justify-content: flex-start;
  margin: 20px;
}
#pokemonDetail h1 {
  margin-bottom: 20px;
}

#pokemonDetail ul {
  list-style-type: none;
  padding: 0;
}
#pokemonDetail li {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
#evolution {
  display: flex;
  justify-content: left;
  align-items: center;
}
#Titel-evo {
  text-align: left;
  padding-left: 20px;
}

.evo-path {
  width: 200px;
  margin: 20px;
}
