<footer>
    <ul>
      <li><a href="mijnpokemon">Mijn Pokemon</a></li>
      <li><a href="pokemonvergelijken">Vergelijken</a></li>
      <li><a href="pokemonbattler">Battler</a></li>


      <li><a href="pokemoncatcher">Catcher</a></li>
      <li><a href="whosthatpokemon">Who's that pokemon</a></li>
    </ul>

    <a href="index"
      ><img
        src="assets/images/Logo.png"
        alt="Copyright copilot ai"
        width="75px"
        height="75px"
      />
    </a>
    <p>&copy; Bobkes</p>
  </footer>
</body>
</html>
