<footer>
    <ul>
      <li><a href="mijnpokemon.html">Mijn Pokemon</a></li>
      <li><a href="pokemonvergelijken.html">Vergelijken</a></li>
      <li><a href="pokemonbattler.html">Battler</a></li>


      <li><a href="pokemoncatcher.html">Catcher</a></li>
      <li><a href="whosthatpokemon.html">Who's that pokemon</a></li>
    </ul>

    <a href="index.html"
      ><img
        src="assets/images/Logo.png"
        alt="Copyright copilot ai"
        width="75px"
        height="75px"
      />
    </a>
    <p>&copy; Bobkes</p>
  </footer>
</body>
</html>
