<%- include("header") %>
  <main>
    <section id="projecten">
      <article class="projecten-item">
        <a href="#">
          <div class="image-container">
            <img src="assets/images/fifa.jpg" alt="Fortnite" />
            <div class="image-overlay">
              <p>&copy; ea sports fc 24</p>
            </div>
          </div>
        </a>
      </article>

      <article class="projecten-item">
        <a href="#">
          <div class="image-container">
            <img src="assets/images/fortnite.jpg" alt="Fortnite" />
            <div class="image-overlay">
              <p>&copy; Fortnite</p>
            </div>
          </div>
        </a>
      </article>
      <article class="projecten-item">
        <a href="#">
          <div class="image-container">
            <img src="assets/images/legomasters.jpg" alt="Fortnite" />
            <div class="image-overlay">
              <p>&copy; lego masters</p>
            </div>
          </div>
        </a>
      </article>

      <article class="projecten-item">
        <a href="#">
          <div class="image-container">
            <img src="assets/images/lordoftherings.jpg" alt="Fortnite" />
            <div class="image-overlay">
              <p>&copy; lord of the rings</p>
            </div>
          </div>
        </a>
      </article>

      <article class="projecten-item">
        <a href="#">
          <div class="image-container">
            <img src="assets/images/magicthegathering.jpg" alt="Fortnite" />
            <div class="image-overlay">
              <p>&copy; magic the gathering</p>
            </div>
          </div>
        </a>
      </article>

      <article class="projecten-item">
        <a href="login">
          <div class="image-container">
            <img src="assets/images/pokemon.jpg" alt="Fortnite" />
            <div class="image-overlay">
              <p>&copy; pokemon</p>
            </div>
          </div>
        </a>
      </article>
    </section>
  </main>
<%- include("footer") %>