<%- include("header") %>
<%- include("navbar") %>
  <div class="background-wrapper">
    <main>
      <p class="login-title">Welkom terug!</p>
      <p class="login-text">Log je in en zet jouw pokemon-avontuur verder!</p>
      <form class="login-form" action="/login" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">E-mail </label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
          <div id="emailHelp" class="form-text">
            We zullen jouw e-mailadres nooit delen met iemand.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Paswoord</label
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"

          />
        </div>
        <div class="mb-3 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="exampleCheck1"
          />
          <label class="form-check-label" for="exampleCheck1"
            >Onthoud mijn gegevens</label
          >
        </div>
        <button type="submit" class="btn btn-primary">LOGIN</button>

        <a href="register" class="btn btn-primary">REGISTREER</a>
      </form>
    </main>
  </div>

  <footer class="login-footer">
    <ul>
      <li><a href="mijnpokemon">Mijn Pokemon</a></li>
      <li><a href="pokemonvergelijken">Vergelijken</a></li>
      <li><a href="pokemonbattler">Battler</a></li>

      <li><a href="pokemoncatcher">Catcher</a></li>
      <li><a href="whosthatpokemon">Who's that pokemon</a></li>
    </ul>

    <a href="index"
      ><img
        src="assets/images/Logo.png"
        alt="Copyright copilot ai"
        width="75px"
        height="75px"
      />
    </a>
    <p>&copy; Bobkes</p>
