<%- include("./partials/header") %>
<main>
  <button class="myBttn">Jouw gevangen Pokémon lijst</button>
  <section id="pokedexList">
 
  </section>
  <button class="myBttn" id="allPokemonBtn">Klik hier voor alle pokemons te bekijken</button>
  <button class="myBttn" id="morePokemonBtn" style="display: none;">Meer bekijken? Klik hier!</button>
</main>

<%- include("./partials/footer") %>
