<%- include("header") %>
      <main>
        <button class="myBttn">Jouw gevangen Pokémon lijst</button>
        <section id="pokedexList">
          <article class="MijnPokemonLijst">
            <a href="pokemonStats">
              <img id="pokemonImage" src="" alt="" />
            </a>
            <span class="pokemonNumber"> #001 <br />Bulbasaur</span> <br />
            <span class="Grass">Grass </span>
            <span class="Poison">Poison</span>
          </article>

         
  
          <article class="MijnPokemonLijst">
            <img src="/assets/images/charmander.jpg" alt="" />
            <span class="pokemonNumber">#003 <br />Charmander</span> <br />
            <span class="Fire">Fire</span>
          </article>
  
          <article class="MijnPokemonLijst">
            <img src="/assets/images/charizard.jpeg" alt="" />
            <span class="pokemonNumber">#006 <br />Charizard</span> <br />
            <span class="Fire">Fire</span>
            <span class="Flying">Flying</span>
          </article>
  
          <article class="MijnPokemonLijst">
            <img src="/assets/images/squirtle.jpeg" alt="" />
            <span class="pokemonNumber">#007 <br />Squirtle</span> <br />
            <span class="Water">Water</span>
          </article>
  
          <article class="MijnPokemonLijst">
            <img src="/assets/images/pikachu.jpg" alt="" />
            <span class="pokemonNumber">#0025 <br />Pikachu </span> <br />
            <span class="Electric">Electric</span>
          </article>
  
          <article class="MijnPokemonLijst">
            <img src="/assets/images/magnemite.jpeg" alt="" />
            <span class="pokemonNumber">#0081 <br />Magnemite</span> <br />
            <span class="Electric">Electric</span>
            <span class="Steel">Steel</span>
          </article>
  
          <article class="MijnPokemonLijst">
            <img src="/assets/images/mewtwo.jpeg" alt="" />
            <span class="pokemonNumber">#0150 <br />Mewto</span> <br />
            <span class="Psychic">Psychic</span>
          </article>
        </section>
  
        <button class="myBttn">Klik hier voor alle pokemons te bekijken</button>
      </main>
  

        <%- include("footer") %>