<nav>
    <ul class="nav_links">
       <li>
        <a href="index">
          <img
            src="assets/images/Logo.png"
            alt="logo"
            width="175px"
            height="175px"
          />
        </a>
      </li>
      <li><a href="mijnpokemon">Mijn Pokemon</a></li>
      <li><a href="pokemonvergelijken">Vergelijken</a></li>
      <li><a href="pokemonbattler">Battler</a></li>
     
      <li><a href="pokemoncatcher">Catcher</a></li>
      <li><a href="whosthatpokemon">Who's that pokemon</a></li>
      <li><a href="login">Login</a></li>
      <li class="pokeball">
        <img src="/assets/images/pokeball.png" alt="" width="50px" />
        <div class="pokemon-info">
            <% if (user && user.username) { %>
                <span id="currentPokemonName"><%= user.username %></span>
            <% } else { %>
                <span id="currentPokemonName">Vang pokemon</span>
            <% } %>
            <!-- Voeg hier andere logica toe voor het weergeven van de huidige pokemon -->
            <!-- Voorbeeld: -->
            <% if (user && user.pokemon) { %> 
            <span class="<%= user.pokemon.type %>"><%= user.pokemon.name %></span> 
            <% } else { %> 
               <span class="no-pokemon">Geen pokemon</span> 
             <% } %> 
        </div>
    </li>
    </ul>
  </nav>