<%- include("header") %>
<header>
  <nav>
    <ul class="nav_links">
      <li>
        <a href="index.html">
          <img
            src="assets/images/Logo.png"
            alt="logo"
            width="175px"
            height="175px"
          />
        </a>
      </li>
      <li><a href="mijnpokemon.html">Mijn Pokemon</a></li>
      <li><a href="pokemonvergelijken.html">Vergelijken</a></li>
      <li><a href="pokemonbattler.html">Battler</a></li>

      <!-- YNS  -->
      <li><a href="pokemoncatcher.html">Catcher</a></li>
      <li><a href="whosthatpokemon.html">Who's that pokemon</a></li>
      <li><a href="login.html">Login</a></li>
      <li class="pokeball">
        <img src="/assets/images/pokeball.png" alt="" width="50px" />
        <div class="pokemon-info">
          <span id="currentPokemonName"> Charmander </span>
          <span class="Fire">(Fire)</span>
          <br />
          <p class="current-pokemon-level">LVL2</p>
        </div>
      </li>
    </ul>
  </nav>
</header>
<div id="backgroundforest">
  <main>
    <section id="pokemon-catcher">
      <article id="pokemon">
        <a href="catch.html">
          <img id="charizard" src="/assets/images/charizard.jpeg" alt=""
        /></a>
      </article>
      <article id="pokemon">
        <a href="catch.html"
          ><img id="bulbasaur" src="/assets/images/bulbasaur.jpg" alt=""
        /></a>
      </article>
      <article id="pokemon">
        <a href="catch.html "
          ><img id="squirtle" src="/assets/images/squirtle.jpeg" alt=""
        /></a>
      </article>
    </section>
  </main>
</div>
<%- include("footer") %>
