<%- include("header") %>
<header>
  <nav>
    <ul class="nav_links">
      <li>
        <a href="index.html">
          <img
            src="assets/images/Logo.png"
            alt="logo"
            width="175px"
            height="175px"
          />
        </a>
      </li>
      <li><a href="mijnpokemon.html">Mijn Pokemon</a></li>
      <li><a href="pokemonvergelijken.html">Vergelijken</a></li>
      <li><a href="pokemonbattler.html">Battler</a></li>
      <li><a href="pokemoncatcher.html">Catcher</a></li>
      <li><a href="whosthatpokemon.html">Who's that pokemon</a></li>
      <li><a href="login.html">Login</a></li>
      <li class="pokeball">
        <img src="/assets/images/pokeball.png" alt="" width="50px" />
        <div class="pokemon-info">
          <span id="currentPokemonName"> Charmander </span>
          <span class="Fire">(Fire)</span>
          <br />
          <p class="current-pokemon-level">LVL2</p>
        </div>
      </li>
    </ul>
  </nav>
</header>
<main>
  <section id="compare-page">
      <article class="compare-pokemon" id="pokemon1">
          <img class="pok" src="assets/images/bulbasaur.jpg" alt="pokemonfighter1">
          <article class="statsmenu">
              <p class="pokemon-naam">Bulbasaur</p>
              <!-- Voeg hier de statistieken van Bulbasaur toe -->
          </article>
          <div class="buttons">
            <button id="choose-pokemon-btn" class="myBttn">Kies Pokémon</button>
            <button id="random-pokemon-btn" class="myBttn">Willekeurige Pokémon</button>
        </div>
      </article>
      <article id="compare-versus">
          <img src="assets/images/Compare.png" alt="Versus">
      </article>
      <article class="compare-pokemon" id="pokemon2">
          <img class="pok" src="assets/images/charmander.jpg" alt="pokemonfighter2">
          <article class="statsmenu">
              <p class="pokemon-naam">Charmander</p>
              <!-- Voeg hier de statistieken van Charmander toe -->
          </article>
          <div class="buttons">
            <button id="choose-pokemon-btn" class="myBttn">Kies Pokémon</button>
            <button id="random-pokemon-btn" class="myBttn">Willekeurige Pokémon</button>
        </div>
      </article>
  </section>
  
</main>

<%- include("footer") %>
