<%- include("./partials/header") %>
  <main>
    <section id="catch-pokemon">
      <h1>Gotta Catch 'Em All !</h1>
      <article id="catch-stats">
        <img
          class="pok"
          src="assets/images/bulbasaur.jpg"
          alt="pokemonfighter1"
        />
        <article class="statsmenu">
          <p class="pokemon-naam">Bulbasaur</p>
          <span class="Grass">Grass </span>
          <span class="Poison">Poison</span>
        </article>
      </article>
      <a href="#"
        ><img id="pokeball" src="/assets/images/groenepokeball.png" alt=""
      /></a>
    </section>
  </main>
  <%- include("./partials/footer") %>