<%- include("header") %>
<header>
    <nav>
      <ul class="nav_links">
        <li>
          <a href="index">
            <img
              src="assets/images/Logo.png"
              alt="logo"
              width="175px"
              height="175px"
            />
          </a>
        </li>
        <li><a href="mijnpokemon">Mijn Pokemon</a></li>
        <li><a href="pokemonvergelijken">Vergelijken</a></li>
        <li><a href="pokemonbattler">Battler</a></li>
  
        <li><a href="pokemoncatcher">Catcher</a></li>
        <li><a href="whosthatpokemon">Who's that pokemon</a></li>
        <li><a href="login">Login</a></li>
      </ul>
    </nav>
  </header>
  <div class="background-wrapper">
    <main>
      <section class="register-section">
        <article>
          <p class="register-title">Registreer hier!</p>
          <p class="register-text">
            Welkom bij de Bobkes-community! Registreer je vandaag nog om
            toegang te krijgen tot een wereld vol avontuur, uitdagingen en
            vriendschap. Als geregistreerd lid kun je deelnemen aan spannende
            gevechten, Pokémon trainen, nieuwe vrienden maken en deelnemen aan
            exclusieve evenementen.
          </p>
        </article>

        <article class="register-squad">
          <img
            src="./assets/images/register-squad.png"
            alt=""
            width="400px"
          />
        </article>
      </section>

      <section class="register-form">
        <form class="row g-3" action="/register" method="POST">
          <div class="col-md-3">
            <label for="inputEmail4" class="form-label">E-mail</label>
            <input type="email" class="form-control" name="email" id="inputEmail4" />
          </div>
          <div class="col-md-3">
            <label for="inputPassword4" class="form-label">Paswoord</label>
            <input type="password" class="form-control" name="password" id="inputPassword4" />
          </div>     
          <div class="col-12">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="gridCheck"
              />
              <label class="form-check-label" for="gridCheck">
                Log automatisch in
              </label>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Registreer</button>
          </div>
        </form>
      </section>
    </main>
  </div>
<%- include("footer") %>